body {
  margin: 0;
  font-family: "Karla", sans-serif;
  font-size: 16pt;
  font-weight: 500;
}

header, footer {
  display: flex;
  /* vertically centers items */
  align-items: center;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
  gap: 30px;
}

#menu-toggle {
  display: none;
}

.HamburgerBtn {
  display: none;
}

@media (min-width: 1200px) {
  .headerNav {
      /* make nav links horizontal */
    display: flex;
    gap: 20px;
  }
}

@media (max-width: 767px) {
  .headerNav {
    display: none;
  }

  #menu-toggle:checked ~ .headerNav {
    /* make nav links horizontal */
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .hero, .specialsTop, .chicago, .booking, .confirmedBooking, .dishContainer, .testimonialsContainer {
    flex-direction: column;
  }

  header, footer {
    flex-direction: column;
  }

  .HamburgerBtn {
    display: block;
  }
}

.hero, .testimonials, .booking, .confirmedBooking, .underConstruction {
  background-color: #495E57;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: #F4CE14;
  font-family: 'Markazi Text', Serif;
  font-weight: 500;
}

h1 {
  font-size: 50pt;
}

h2 {
  font-size: 40pt;
}

h3 {
  font-size: 28pt;
  font-weight: bold;
}

.specials h2 {
/* .specialsHeading { */
  color: black;
}

.dishName {
  font-weight: bold;
  font-size: 18pt;
}

Footer h3 {
  color: black;
}

.reserveBtn, .onlineMenuBtn, .submitBtn {
  background-color: #F4CE14;
  color: black;
  /* border-radius: 12px; */
  border-radius: 9px;
  border-style: solid;
  height: 30px;
}

.submitBtn:disabled {
  background-color: grey;
  /* color: black; */
}

.reserveBtn {
  width: 50%;
}

.hero, .specialsTop, .chicago, .booking, .confirmedBooking, .dishContainer, .testimonialsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-left: 20%;
  padding-right: 20%;
}

.heroRightImg {
  /* fill the height */
  /* height: 100vh; */
  width: 100%;
  /* center the image within its container */
  margin: 0 auto;
}

/* make them of the same size */
.heroLeft, .heroRight {
  flex: 1;
}

.specials {
  background-color: lightgrey;
}

.specialsTop {
  justify-content: space-between;
}

.dishContainer {
  max-height: 1000px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dishImg {
  max-width: 300px;
  max-height: 180px;
}

.testimonials, .underConstruction {
  align-items: center;
  flex-wrap: wrap;
}

.testimony {
  flex: 1;
  margin-bottom: auto;
}

.heroLeft, .heroRight, .specials, .booking, .reserveInputs, .dish, .testimonials, .testimony, .confirmedBooking, .underConstruction {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* width: 75%; */
  /* margin: 12.5%; */
  /* align-items: center; */
}

.bookingImages {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 30px;
}

.bookingForm {
  display: grid;
  max-width: 200px;
  gap: 20px;
}

.footerNav, .socialMediaContainer {
  display: flex;
  flex-direction: column;
}

button, .submitBtn {
  font-size: 14pt;
  font-weight: bold;
}
