body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.headerNav {
  /* make nav links horizontal */
  display: flex;
  gap: 20px;
}

header, footer {
  display: flex;
  /* vertically centers items */
  align-items: center;
  /* center horizontally */
  /* justify-content: center; */
  justify-content: space-between;
  /* padding: 10px 20px; */
  padding-left: 20%;
  padding-right: 20%;
  gap: 30px;
}

.hero {
  background-color: green;
}

.hero, .specialsTop, .chicago, .reservations, .confirm, .dishContainer, .testimonialsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-left: 20%;
  padding-right: 20%;
}

.heroRightImg {
  /* fill the height */
  height: 100vh;
  /* center the image within its container */
  margin: 0 auto;
}

/* make them of the same size */
.heroLeft, .heroRight {
  flex: 1;
}

.specials {
  background-color: lightgrey;
}

.specialsTop {
  justify-content: space-between;
}

.dishContainer {
  max-height: 1000px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dishImg {
  max-width: 300px;
  max-height: 180px;
}

.testimonials {
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
}

.testimony {
  flex: 1;
  margin-bottom: auto;
}

footer {
  background-color: lightpink;
}

.heroLeft, .heroRight, .specials, .reservations, .reserveInputs, .dish, .testimonials, .testimony, .confirm {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* width: 75%; */
  /* margin: 12.5%; */
  /* align-items: center; */
}

.reservationImages {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 30px;
}

.reserveForm {
  display: grid;
  max-width: 200px;
  gap: 20px;
}

.footerNav, .socialMediaContainer {
  display: flex;
  flex-direction: column;
}

button {

}
