body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header, footer {
  display: flex;
  /* vertically centers items */
  align-items: center;
  /* center horizontally */
  justify-content: center;
  padding: 10px 20px;
}

.Logo {
  margin-right: 30px;
}

nav {
  /* make nav links horizontal */
  display: flex;
  /* align-items: left; */
  /* text-align: center; */
  gap: 20px;
}

.hero, .specials, .testimonials, .special, .chicago, .reservations {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.hero {
  background-color: green;
}

.reservations, .reserveInputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.reservationImages {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 30px;
}

.reserveForm {
  display: grid;
  max-width: 200px;
  gap: 20px;
}
